{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}

<div class="container mt-3">
    <h2 class="text-center">EDIT PROFILE</h2>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label >FirstName:</label>
                        <input name="firstname" type="text" class="form-control" value="{{data.user.first_name}}">
                    </div>

                    <div class="form-group col-md-6">
                        <label >LastName:</label>
                        <input name="lastname" type="text" class="form-control" value="{{data.user.last_name}}">
                    </div>
                    
                </div>   
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label >Email ID:</label>
                        <input readonly name="emailid" type="email" class="form-control" value="{{data.user.username}}">
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label >Contact No:</label>
                        <input name="contact" type="text" class="form-control" value="{{data.contact}}">
                    </div>
                    
                </div> 
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label >Branch:</label>
                        <select name="branch" class="form-control">
                        <option value="Computer Science">Computer Science</option>
                        <option value="Civil">Civil</option>
                        <option value="Electical">Electrical</option>
                        <option value="Mechanical">Mechanical</option>
                        </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Previous Branch</label>
                            <input class="form-control" readonly type="text" value="{{data.branch}}">                            
                        </div>     
                </div> 
                <input type="submit" value="Update" class="mt-2 btn btn-primary">
            </form>
        </div>

    </div>
</div>

{% if error %}
<script>
    alert('Profile Updated Successfully');
    window.location="{% url 'profile' %}";
</script>
{% endif %}

{% endblock %}